<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/dashboard']">Go to Polls</a>
                </li>
            </ul>
        </nav>
        <h3>{{ polls['question'] }}</h3>
        <p> Click the Vote button to choose one</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Current Count of Votes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" *ngFor=""></td>
                    <td> </td>
                    <td><button>Vote</button></td>

                </tr>

            </tbody>
        </table>

    </div>
</body>

</html>